* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 22px;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.input {
    visibility: hidden;
}

.label {
    width: 3.5rem;
    height: 2rem;
    background-color: gray;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.circle {
    width: 1.6rem;
    height: 1.6rem;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 50%;
    animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
    background-color: salmon;
}

.input:checked + .label .circle {
    animation: toggleOn 0.4s linear forwards;
}


@keyframes toggleOn {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(1.6rem);
    }
}

@keyframes toggleOff {
    0% {
        transform: translate(1.6rem);
    }
    100% {
        transform: translate(0);
    }
}
